[submodule "Essential"]
	path = Essential
	url = https://github.com/NEWorldProject/klsxx.essential.git
[submodule "Thread"]
	path = Thread
	url = https://github.com/NEWorldProject/klsxx.thread.git
[submodule "Coroutine"]
	path = Coroutine
	url = https://github.com/NEWorldProject/klsxx.coroutine.git
[submodule "IO"]
	path = IO
	url = https://github.com/NEWorldProject/klsxx.io.git
[submodule "PHTTP"]
	path = PHTTP
	url = https://github.com/NEWorldProject/phttp
[submodule "CoThread"]
	path = CoThread
	url = https://github.com/NEWorldProject/klsxx.cothread
[submodule "Journal"]
	path = Journal
	url = https://github.com/NEWorldProject/klsxx.journal
